{% extends 'dashboard.html' %}
{% load static %}

{% block title %}Add Volunteer{% endblock %}

  <!-- Custom CSS -->
  <link href="{% static 'css/mystyle.css' %}" rel="stylesheet" type="text/css">

{% block content %}
<div class="container-fluid">
  <h1>Add Volunteer</h1>

  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}

  <form id="volunteerForm" action="{% url 'volunteer_save' %}" method="post"  onsubmit="return validateForm()" novalidate>
    {% csrf_token %}
    <div class="mb-3">
      <label>Member Name:</label>
      <input type="text" name="vname" class="form-control">
      <div id="volNameError" class="error"></div>
    </div>

    <div class="mb-3">
      <label>Email:</label>
      <input type="email" name="vemail" class="form-control">
      <div id="volEmailError" class="error"></div>
    </div>

    <div class="mb-3">
      <label>Contact:</label>
      <input type="text" name="vcon" class="form-control">
      <div id="volContactError" class="error"></div>
    </div>

    <div class="mb-3 position-relative">
      <label>Password:</label>
      <div class="input-group">
        <input type="text" id="vpass" name="vpass" class="form-control" readonly>
        <button type="button" class="btn btn-outline-success" onclick="copyPassword()">Copy</button>
      </div>
      <div id="volPasswordError" class="error"></div>
    </div>


    <div class="mb-3">
      <label>Role:</label>
      <select name="vrole" class="form-control">
        <option value="">--Select Role--</option>
        {% for role in roles %}
          <option value="{{ role.id }}">{{ role.role_name }}</option>
        {% endfor %}
      </select>
      <div id="volRoleError" class="error"></div>
    </div>

    <div class="mt-4">
      <button type="submit" class="btn btn-primary">Add Volunteer</button>
    </div>
  </form>

</div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/myjs_script.js' %}?v={{ timestamp }}"></script>
{% endblock %}
