{% load static %}
<div id="sidebar" class="sidebar">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="/dashboard"><i class="bi bi-speedometer2"></i><span>Dashboard</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#" onclick="toggleDropdown(event, 'members')"><i class="bi bi-people-fill"></i><span>Members</span></a>
      <div id="members" class="submenu">
        <a class="nav-link" href="/set_volunteer/">Add Members</a>
        <a class="nav-link" href="{% url 'see_volunteers' %}">Members List</a>
        <a class="nav-link" href="/see_members_with_group/">Available Members</a>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#" onclick="toggleDropdown(event, 'groupmang')"><i class="bi bi-diagram-3"></i><span>Group Manage</span></a>
      <div id="groupmang" class="submenu">
        <a class="nav-link" href="{% url 'create_group' %}">Add Group</a>
        <a class="nav-link" href="/group_see/">Group List</a>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#" onclick="toggleDropdown(event, 'task')"><i class="bi bi-tools"></i><span>Task</span></a>
      <div id="task" class="submenu">
        <a class="nav-link" href="{% url 'create_task' %}">Add Task</a>
        <a class="nav-link" href="{% url 'see_assigned_task' %}">Task List</a>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#" onclick="toggleDropdown(event, 'role')"><i class="bi bi-person-gear"></i><span>Role</span></a>
      <div id="role" class="submenu">
        <a class="nav-link" href="{% url 'set_role' %}">Add Role</a>
        <a class="nav-link" href="{% url 'see_role' %}">Role List</a>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#" onclick="toggleDropdown(event, 'notify')"><i class="bi bi-bell-fill"></i><span>Notification</span></a>
      <div id="notify" class="submenu">
        <a class="nav-link" href="{% url 'notification' %}">Give Notification</a>
        <a class="nav-link" href="{% url 'see_notification' %}">Notification List</a>
      </div>
    </li>

    <li class="nav-item">
      <a class="nav-link" href=""><i class="bi bi-person-circle"></i><span>Account</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="{% url 'update_profile' %}"><i class="fas fa-user-edit"></i><span>Profile Update</span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href=""><i class="fa-solid fa-clipboard-check"></i><span>Report</span></a>
    </li>
  </ul>
</div>